body {
	font-family: 'Nunito', Sans-serif;
    background: #333333;
    color: #e8e8e8;
    margin: 0 auto;
    width: 80%;
    max-width: 750px;
    font-size: 26px;
    line-height: 1.5;
}

h1, h2 {
	display: inline-block;
	color: #aefbaf;
	margin: 0 10px;
	line-height: 1;
}

p {
	display: inline-block;
	margin: 0;
	font-size: 32px;
}

a {
	color: #FF9800;
}

span {
	font-weight: 700;
	color: #ccabff;
}

ul {
	border: 2px solid white;
	padding: 30px;
}

li {
	display: inline-block;
	margin: 0 5px;
}

#bio {
	margin: 14% 0;
}

#bio div {
	margin: 30px 0;
}

#social-icons {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0px;
    background: white;
    padding: 10px 20px 0;
    border-bottom-left-radius: 10px;
}

#social-icons img {
	height: 30px;
	border-bottom: 5px solid white;
}

#social-icons img:hover {
    transition: opacity 0.5s;
    border-bottom: 5px solid #ff9800;
}