#content, html, body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #169bb3;
}

body {
	background: url("http://www.transparenttextures.com/patterns/black-thread-light.png");
}

#left {
    float: left;
    width: 300px;
    width: 40%;
    height: 100%;
    position: relative;
    text-align: center;
}

#right {
    float: right;
    width: 60%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

#name {
	margin-left: 20px;
	text-align: center;
}

h1 {
	font-size: 55px;
	font-weight: normal;
	margin: 0;
	font-family: 'Pacifico', cursive;
	color: #333;
}

h2 {
	font-weight: normal;
}

p {
	color: #666;
}

p.subtitle {
	font-size: 25px;
    margin-top: -5px;
    color: #169bb3;
}

#info {
	margin: 10px;
	margin-right: 20px;
}

li {
	list-style: none;
	display: inline;
	margin-right: 10px;
}

ul {
	padding: 0;
}

a {
	color: #666;
}

a:hover {
	color: #169bb3;
}

#info img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.6;
	height: 125px;
}
#info img:hover {
	-webkit-filter: none;
	filter: none;
	opacity: 1;
}

#profile {
	width: 300px;
	margin-top: 20px;
}
