#content, html, body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    color: #169bb3;
}

body {
	background: url("http://www.transparenttextures.com/patterns/black-thread-light.png");
}

#left {
    float: left;
    width: 300px;
    width: 40%;
    height: 100%;
    position: relative;
}

#right {
    float: right;
    width: 60%;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

#name {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 20px;
	text-align: center;
}

h1 {
	font-size: 55px;
	font-weight: normal;
	margin: 0;
	font-family: 'Pacifico', cursive;
	color: #333;
}

h2 {
	font-weight: normal;
}

p.subtitle {
	font-size: 30px;
    margin-top: -5px;
}

#links {
	font-size: 30px;
	position: absolute;
}

#info {
	margin: 10px;
	margin-right: 20px;
}

li {
	list-style: none;
	display: inline;
}

a {
	font-size: 20px;
}